/node_modules/
/target/
/test-output/
*.log
LOG_FILE_IS_UNDEFINED
LOG_FILE_IS_UNDEFINED
*.p12
*.properties.prod
*.properties.stage
*.properties.dev
*.dev.yml
*.stage.yml
*.prod.yml
auth0.properties
.settings/org.eclipse.jdt.core.prefs
.classpath

JavaBooks.xlsx

*.gz

*.pdf
/.apt_generated/
/.apt_generated_tests/

api_key.p12.old

.metadata/

.settings/

GCP-MyFirstProject-1c31159db52c.json
gmail_credentials.json