/target/
/test-output/
*.log
LOG_FILE_IS_UNDEFINED
LOG_FILE_IS_UNDEFINED
*.p12
src/main/resources/qanairy.jks
*.properties
*.p12
.settings/org.eclipse.jdt.core.prefs
.classpath

JavaBooks.xlsx

*.gz

src/main/resources/

*.pdf
/.apt_generated/
/.apt_generated_tests/

api_key.p12.old

.metadata/

.settings/
